/* project page styles */
body {
  background-color:#ECECED;
  height:100%;
}

#project {
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
  margin-top:5em;
  position:relative;
  padding-left:5rem;
}
  #p-left {
    /* border:1px solid red; */
    display:inline-block;
    width:25%;
    max-width:220px;
  }
    .back {
      text-align: right;
      display: block;
      background-color:#CECECE;
      width:140px;
      float:right;
      margin-bottom:0.5em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right:20px;
      position:relative;
    }
      .back .triangle {
        width: 0; 
        height: 0; 
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent; 
        border-right:22px solid #cecece; 
        position:absolute;
        top:0;
        left:-22px;
      }
    #p-nav {
      clear:both; 
    }
      #p-nav li {
        list-style:none;
        background-color:#3A3A3A;
        width:100%;
        color:#fff;
        margin-top:5px;
      }
        #p-nav li a {
          color:#fff;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          display:block;
          text-decoration:none;
        }
          #ux-nav {
            border-left:5px solid #51C4F2;
          }
          #id-nav {
            border-left:5px solid #EB1675;
          }
          #vcd-nav {
            border-left:5px solid #FF7B2E;
          }
          #art-nav {
            border-left:5px solid #6CA855;
          }
  #p-contents {
    display:inline-block;
    /* border:1px solid blue; */
    position:absolute;
    top:0px;
    width:70%;
    max-width:650px;
    margin-left:1em;
  }
    .p-header {
      border-left:6px solid #03acef;
      padding-left:0.5em;
      margin-bottom:1.5em;
    }
      .p-header h3 {
        font-size:16pt;
        font-weight:lighter;
      }
      .p-header h4 {
        font-size:24pt;
        font-weight:lighter;
      }
    .p-img {
      width:100%;
      height:511px;
      background-color:#CECECE; 
      margin-bottom:0.5em;
    }
    .p-desc {
      padding:0.5em;
      width:100%;
      min-height:120px;
      background-color:#CECECE; 
      margin-bottom:6em;
    }

#container {
  border:1px solid red;
  min-height:100%;
  position:relative;
}
#footer {
  height:200px;
  clear:both;
  position:absolute;
  bottom:0;
  width:100%;
  background:#6cf;
}
