/* project page styles */
@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue.ttf");
}
body {
  background-color:#ECECED;
  height:100%;
}

#project {
  /* border:1px solid red; */
  width:100%;
  margin-top:5em;
  height:100%;
  max-width:1500px;
}
  #p-left {
    /* border:1px solid red; */
    float:left;
    width:21%;
    margin-left:2%;
  }
    .back {
      text-align: right;
      display: block;
      text-decoration:none;
      color:#3A3A3A;
      background-color:#CECECE;
      width:90%;
      float:right;
      margin-bottom:0.5em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right:20px;
      position:relative;
    }
      .back .triangle {
        width: 0; 
        height: 0; 
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent; 
        border-right:22px solid #cecece; 
        position:absolute;
        top:0;
        left:-22px;
      }
    #p-nav {
      clear:both; 
      margin-bottom:3em;
    }
      #p-nav li {
        list-style:none;
        background-color:#3A3A3A;
        width:100%;
        color:#fff;
        margin-top:5px;
      }
        #p-nav li a {
          color:#fff;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          display:block;
          text-decoration:none;
          -webkit-transition: all 0.1s linear;
             -moz-transition: all 0.1s linear;
              -ms-transition: all 0.1s linear;
               -o-transition: all 0.1s linear;
                  transition: all 0.1s linear;
        }
          #ux-nav {
            border-left:5px solid #51C4F2;
          }
            #ux-nav:hover {
              background-color: #51C4F2;
            }
            #ux-nav.active {
              background-color: #51C4F2;
            }
          #id-nav {
            border-left:5px solid #EB1675;
          }
            #id-nav:hover {
              background-color:#EB1675;
            }
            #id-nav.active {
              background-color:#EB1675;
            }
          #vcd-nav {
            border-left:5px solid #FF7B2E;
          }
            #vcd-nav:hover {
              background-color: #FF7B2E;
            }
            #vcd-nav.active {
              background-color: #FF7B2E;
            }
          #art-nav {
            border-left:5px solid #6CA855;
          }
            #art-nav:hover {
              background-color: #6CA855;
            }
            #art-nav.active {
              background-color: #6CA855;
            }
  #p-contents {
    float:left;
    /* min-width:650px; */
    width:73%;
    margin-left:1em;
  }
    #p-header-wrapper {
      position:relative;
    }
    .p-header {
      font-family:"Bebas", "Impact", sans-serif;
      text-transform:uppercase;
      font-size:48px;
      border-left:6px solid #03acef;
      padding-left:0.5em;
      margin-bottom:0.5em;
    }
      .p-header h3 {
        font-size:16pt;
        font-weight:lighter;
      }
      .p-header h4 {
        font-size:24pt;
        font-weight:lighter;
      }
    .p-img {
      background-color:#CECECE; 
      margin-bottom:0.5em;
      max-width:96%;
      height:auto;
    }
    .p-desc {
      padding:0.5em;
      width:100%;
      min-height:120px;
      background-color:#CECECE; 
      margin-bottom:6em;
    }
      .p-desc a {
        color:#03acef;
        text-decoration:none; 
      }

#container {
  padding-top:1em;
  /* border:2px solid green; */
  min-height:100%;
}
#footer {
  height:200px;
  clear:both;
  width:100%;
}
  
.copy {
    margin:0px auto;
  }

.portfolio-bit {
  /* three per row
  width:30%;
  margin-left:2%;
  */
  /* four per row */
  width:22%;
  margin-left:1%;
  float:left;
  height:300px;
  display:block;
  background-color:#CECECE; 
  margin-bottom:45px;
  text-decoration:none;
  color:#fff;
  position:relative;
  text-align:center;
}
  .p-overlay {
    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    background-color:rgba(0,0,0,0.5);
    padding-top:3em;
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
    top:-20px;
  }
    .portfolio-bit:hover .p-overlay {
      top:0px; 
      opacity:1;
    }

.rwd-link {
  position:absolute;
  display:none;
  top:20px;
}
  .rwd-link.prev {
    left:0px;
  }
  .rwd-link.next {
    right:20px;
  }

/* about page */


/* responsiveness */
@media (min-width:0px) and (max-width:680px) {
  #p-left {
    display:none;
  }
  #p-contents {
    width:97%;
    margin-left:3%;
  }
}

@media (min-width:551px) and (max-width:1056px) {
  .portfolio-bit {
    width:30%;
  }
}

/* v small */
@media (min-width:0px) and (max-width:550px) {
  #project {
    margin-top:4em;
  }
  .portfolio-bit {
    width:47%;
  }
  .rwd-link {
    display:block;
  }
  .p-header {
    border-left:9px solid #03acef;
    padding-left:10px;
    position:relative;
    left:50px;
  }
    .p-header h3 {
      font-size:20pt;
    }
    .p-header h4 {
      font-size:35pt; 
      line-height:23pt;
    }
}
