/* project page styles */
@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue.ttf");
}
body {
  background-color:#ECECED;
  height:100%;
}

#project {
  /* border:1px solid red; */
  width:100%;
  margin-top:5em;
  height:100%;
}
  #p-left {
    /* border:1px solid red; */
    float:left;
    width:220px;
    margin-left:2em;
  }
    .back {
      text-align: right;
      display: block;
      background-color:#CECECE;
      width:140px;
      float:right;
      margin-bottom:0.5em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right:20px;
      position:relative;
    }
      .back .triangle {
        width: 0; 
        height: 0; 
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent; 
        border-right:22px solid #cecece; 
        position:absolute;
        top:0;
        left:-22px;
      }
    #p-nav {
      clear:both; 
      margin-bottom:3em;
    }
      #p-nav li {
        list-style:none;
        background-color:#3A3A3A;
        width:100%;
        color:#fff;
        margin-top:5px;
      }
        #p-nav li a {
          color:#fff;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          display:block;
          text-decoration:none;
        }
          #ux-nav {
            border-left:5px solid #51C4F2;
          }
          #id-nav {
            border-left:5px solid #EB1675;
          }
          #vcd-nav {
            border-left:5px solid #FF7B2E;
          }
          #art-nav {
            border-left:5px solid #6CA855;
          }
  #p-contents {
    float:left;
    /* border:1px solid blue; */
    width:650px;
    margin-left:1em;
  }
    .p-header {
      font-family:"Bebas", "Impact", sans-serif;
      text-transform:uppercase;
      font-size:48px;
      border-left:6px solid #03acef;
      padding-left:0.5em;
      margin-bottom:1.5em;
    }
      .p-header h3 {
        font-size:16pt;
        font-weight:lighter;
      }
      .p-header h4 {
        font-size:24pt;
        font-weight:lighter;
      }
    .p-img {
      width:100%;
      height:511px;
      background-color:#CECECE; 
      margin-bottom:0.5em;
    }
    .p-desc {
      padding:0.5em;
      width:100%;
      min-height:120px;
      background-color:#CECECE; 
      margin-bottom:6em;
    }
      .p-desc a {
        color:#03acef;
        text-decoration:none; 
      }

#container {
  padding-top:1em;
  /* border:2px solid green; */
  min-height:100%;
}
#footer {
  height:200px;
  clear:both;
  width:100%;
}
  
#copy {
    margin:0px auto;
  }
