/* overall styles */
@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue.ttf");
}

* {
  box-sizing:border-box;
  margin:0;
}
html, body {
  font-family: "Raleway", sans-serif;
  height:100%;
  font-size:16pt;
}
h1 {
  display:inline-block;
  color:#fff;
  font-weight:normal;
  font-size:32pt;
}
h2 {
  font-family:"Raleway",sans-serif;
  font-size:24pt; 
  color:#7a7a7a;
  font-weight:normal;
}
.menu li {
  display:inline-block;
}
  .menu li a {
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    margin-right:2em;
    -webkit-transition: color 0.1s linear;
       -moz-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
         -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
  }
    .menu li a:hover {
      color:#03acef;
      cursor:pointer;
    }
#rwd-menu {
  display:none;
  height:35px;
  width:35px;
}
  #rwd-menu:hover {
    cursor:pointer;
  }


/* navigation */
#nav {
  background-color: #3a3a3a;
  width:100%;
  min-height:80px;
  z-index:1;
  position:fixed;
  top:0;
  border-bottom:4px solid #03acef;
}
  #nav .left {
    position:relative;
    left:60px;
    top:10px;
    display:inline-block;
    -webkit-transition: color 0.1s linear;
       -moz-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
         -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
  }
    #logo {
      width:40px;
      height:40px;
    }
    #nav .left h1 {
      position:relative;
      left:20px;
      top:-7px; 
      margin-bottom:25px;
    }
    .header {
      position: relative;
      top: 6px;
      left: 5px;
    }
  #nav .menu { 
    position:absolute;
    right:0px;
    top:30%;
    right:0.5em;
    -webkit-transition: all 0.1s ease;
       -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
         -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
  }
    #nav .menu.mobile {
      border-top:4px solid #03acef;
      position:fixed;
      left:-40px;
      z-index:1;
      top:-17px;
      margin-top:0.8em;
      height:100%;
      width:0px;
      background-color:#3a3a3a;
      overflow:hidden;
      -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
    }
      #nav .menu.mobile.open {
        width:300px;
      }
    #nav .menu.mobile a {
      width:100%;
      display:block;
      color:#Fff;
      text-decoration:none;
      padding: 14px;
      padding-left: 73px;
      border-bottom:1px solid #03acef;
    }
      #nav .menu.mobile a:hover {
        color:#03acef;
      }
      #nav .menu.mobile .sub {
        padding-left:93px;
      }
      #nav .menu.mobile .active {
        border-bottom: 2px solid #03ACEF;
        border-top: 2px solid #03ACEF;
        border-left: 47px solid #03ACEF;
        padding-left: 45px;
      }
      .mobile .copy {
        width:100%;
        font-size: 11pt;
        padding-left: 50px;
        margin-top: 30px;
      }
.mobile.overlay {
  position:fixed;
  top:0;
  left:0;
  display:none;
  height:100%;
  width:100%;
}
  .mobile.overlay.open {
    display:block;
  }


/* 'over the fold' part */
#container {
  min-width:100%;
  position:relative;
  height:100%;
}
  #logo-area {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0; 
    height:400px;
    width:80%;
  }
    #big-logo {
      height:300px;
      width:320px;
      margin:0px auto;
      display:block;
    }
    #logo-area h2 {
      margin-top:0.5em;
      text-align:center;
      font-family:"Raleway";
      color:#868789;
    }


/* bottom part */
#bottom {
  background-color:#7a7a7a;
  width:100%;
  position:absolute;
  top:87%;
  padding-top:30px;
  min-height:600px;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear; 
}
  #bottom h1 {
    color:#e4e4e4;
    text-align:center;
    display:block;
  }
    #my-name {
      font-family: Bebas, "Impact", sans-serif;
    }
  #bottom h2 {
    font-size:1em;
    font-family:"Raleway",sans-serif;
    margin:65px auto;
    color:#e4e4e4;
    width:80%;
    line-height:1.5em;
    text-align:center;
  }
  #work {
    width:90%;
    margin:0px auto; 
  }
  .work-bit {
    background-color:#fff;
    height:240px;
    width:24%;
    display:inline-block;
    margin-left:0.5%;
    margin-top:5px;
    overflow:hidden;
  }
    .work-bit .banner {
      background-color:#e4e4e4;
      height:72px;
      position:relative;
      left:3em;
      top:0.7em;
      -webkit-transition: all 0.1s ease;
         -moz-transition: all 0.1s ease;
          -ms-transition: all 0.1s ease;
           -o-transition: all 0.1s ease;
              transition: all 0.1s ease;
    }
      .work-bit:hover .banner {
        left:1em;
      }
      .banner .triangle {
        position:absolute;
        top:0;
        left:-20px;
        width: 0; 
        height: 0; 
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent; 
        border-right:20px solid #e4e4e4;
      }
    .work-bit h1 {
      text-transform:uppercase;
      color:#7a7a7a !important;
      font-family: Bebas, "Impact", sans-serif;
      font-size:48pt;
      position:absolute;
      left:1em;
    } 
  #bottom p {
    text-align:center;
    color:#E4E4E4;
    margin: 100px auto;
    font-size:20pt;
    font-family:"Podkova", serif;
  }
    #bottom p a {
      color: #C2C2C2;
    }

/* "like what you see?" part */
#like {
  background-color:#ececed;
  padding-top:100px;
  width:100%;
  padding-left:10px;
  padding-right:10px;
}
  #like h1 {
    color:#868789;
    font-family: Bebas, "Impact", sans-serif;
    font-size:2em;
  }
  #like p {
    color:#868789;
    width:50%;
    margin:0px auto;
    margin-top:35px;
    font-size:20pt;
    font-family: "Podkova", serif;
  }
  #like p a {
    text-decoration:none;
    color:#03ACEF;
  }
  #circles {
    width:686px;
    margin:0px auto;
    margin-top:65px;
    padding-bottom:100px;
  }
  #circles div {
    display:inline;
    width:2em;
  }
    .circle {
      -webkit-border-radius:50%;
              border-radius:50%;
      background-color:#51C4F2;
      height:80px;
      margin:0px auto;
      width:80px;
      display:inline-block;
      background-size: 90% 90%;
      background-position: 50% 50%;
      -webkit-transition: background-color 0.1s linear;
         -moz-transition: background-color 0.1s linear;
          -ms-transition: background-color 0.1s linear;
           -o-transition: background-color 0.1s linear;
              transition: background-color 0.1s linear;
      margin-left:2em;
      margin-right:2em;
    }
      #linked-in {
        background-image:url("../images/linkedin-128.png");
      }
        #linked-in:hover {
          background-color:#007FB1;
        }
      #twitter {
        background-image:url("../images/twitter-128.png");
      }
        #twitter:hover {
          background-color:#00ACED;
        }
      #wordpress {
        background-image:url("../images/wordpress-128.png");
      }
        #wordpress:hover {
          background-color:#21759B;
        }
      #skype {
        background-image:url("../images/skype-128.png");
      }
        #skype:hover {
          background-color:#00AFF0;
        }
      #flickr {
        background-image:url("../images/flickr-128.png");
      }
        #flickr:hover {
          background-color:#0063DB;
        }

/* footer */
#footer {
  background-color:#3A3A3A;
  min-height:250px;
  border-top:4px solid #03acef;
  height:100%;

}
  #footer .menu {
    width:750px;
    margin:0px auto;
    margin-top:65px;
    margin-bottom:65px;
  }
    #footer .menu li {
      margin-left:2em;
      font-size:1em;
      text-transform:uppercase;
    }
  .copy {
    font-family:"Raleway", sans-serif;
    width:50%;
  }
    .desc {
      color:#959596;
      font-size:1em;
    }
    .desc2 {
      text-transform:lowercase;
      color:#D6D6D6;
      font-size:1em;
    }

/* responsiveness */
@media (min-width:0px) and (max-width:680px) {
  #footer {
    display:none;
  }
  #nav .menu li {
    display:none;
  }
  #rwd-menu {
    display:inline-block;
  }
  #nav .menu.mobile {
    display:block;
  }
  #logo {
    display:none;
  }
  #big-logo {
    margin-top:-25px;
  }
  #subheader {
    font-size:20pt;
    margin-top:30px !important;
    margin-bottom:75px !important;
  }
}
@media (min-width:591px) and (max-width:850px) {
  .work-bit {
    width:49%;
  }
}
@media (min-width:0px) and (max-width:590px) {
  .work-bit {
    display:block;
    width:220px;
    margin:0px auto;
    margin-bottom:50px;
  }
    .work-bit .banner {
      left:1em;
    }
  #like h1 {
    width: 80%;
    margin: 0px auto;
  }
  .menu li a {
    margin-right:1em;
  }

}

/* rwd for just the circles */
@media (min-width:0px) and (max-width:710px) {
  #circles {
    width:100%;
  }
  #circles div {
    display:block;
    width:323px;
    margin:0px auto;
    margin-bottom:35px;
  }
  .circle {
    margin-left: 1.7em;
    margin-right: 1.7em;
  }
  
  /* footer styles */
  #footer .menu li a {
    margin-right:1em;
  }
} 

/* rwd for footer styles */
@media (min-width:0px) and (max-width:750px) {
  #footer .menu {
    width:100%;
  }
}
@media (min-width:0px) and (max-width:500px) {
  #footer .menu li {
    width: 109%;
    display: inline-block;
    border-bottom: 1px solid #03ACEF;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-left: -2em;
    padding-left:2em;
  }
  .copy {
    width:75%;
  }
}
@media (min-width:501px) and (max-width:570px) {
  #footer .menu li a {
    margin-right:0em;
  }
}
