/*
 * gray: #3A3A3A
 * blue: #03ACEF
 * 
 * */

/* overall styles */
* {
  box-sizing:border-box;
  margin:0;
}
html, body {
  font-family: "Raleway", sans-serif;
  height:100%;
  font-size:16pt;
}
h1 {
  display:inline-block;
  color:#fff;
  font-weight:normal;
  font-size:32pt;
}
h2 {
  font-family:"Lato",sans-serif;
  font-size:24pt; 
  color:#7a7a7a;
  font-weight:normal;
}


/* navigation */
#nav {
  background-color: #3a3a3a;
  width:100%;
  height:80px;
  z-index:1;
  position:fixed;
  top:0;
  border-bottom:4px solid #03acef;
}
  .left {
    position:relative;
    left:60px;
    top:20px;
    display:inline-block;
  }
    #logo {
      width:40px;
      height:40px;
    }
    .left h1 {
      position:relative;
      left:20px;
      top:-7px; 
    }
  #menu { 
    position:absolute;
    right:0px;
    top:30%;
    right:4rem;
  }
    #menu li {
      display:inline-block;
    }
      #menu li a {
        text-transform:uppercase;
        color:#fff;
        text-decoration:none;
        margin-right:2rem;
        -webkit-transition: color 0.1s linear;
           -moz-transition: color 0.1s linear;
            -ms-transition: color 0.1s linear;
             -o-transition: color 0.1s linear;
                transition: color 0.1s linear;
      }
        #menu li a:hover {
          color:#03acef;
        }


/* 'over the fold' part */
#container {
  min-width:100%;
  position:relative;
  height:100%;
}
  #logo-area {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0; 
    height:400px;
    width:80%;
  }
    #big-logo {
      height:300px;
      width:320px;
      margin:0px auto;
      display:block;
    }
    #logo-area h2 {
      margin-top:0.5rem;
      text-align:center;
    }


/* bottom part */
#bottom {
  background-color:#7a7a7a;
  width:100%;
  position:absolute;
  bottom:-23rem;
  padding-top:30px;
  min-height:600px;

}
  #bottom h1 {
    color:#e4e4e4;
    text-align:center;
    display:block;
  }
  #bottom h2 {
    font-size:1rem;
    font-family:"Lato",sans-serif;
    margin:65px auto;
    color:#e4e4e4;
    width:80%;
    line-height:1.5rem;
    text-align:center;
  }
  #work {
    width:90%;
    margin:0px auto; 
  }
  .work-bit {
    background-color:#fff;
    min-width:220px;
    height:240px;
    width:24%;
    display:inline-block;
    margin-left:5px;
    margin-top:5px;
    overflow:hidden;
  }
    .work-bit .banner {
      background-color:#e4e4e4;
      height:72px;
      position:relative;
      left:3rem;
      top:0.7rem;
      -webkit-transition: all 0.1s linear;
         -moz-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
           -o-transition: all 0.1s linear;
              transition: all 0.1s linear;
    }
      .work-bit:hover .banner {
        left:1rem;
      }
      .banner .triangle {
        position:absolute;
        top:0;
        left:-20px;
        width: 0; 
        height: 0; 
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent; 
        border-right:20px solid #e4e4e4;
      }
    .work-bit h1 {
      text-transform:uppercase;
      color:#7a7a7a !important;
      font-family: "Bebas Neue", sans-serif;
      font-size:48pt;
      position:absolute;
      left:1rem;
    } 
