/*
 * gray: #3A3A3A
 * blue: #03ACEF
 * 
 * */

/* overall styles */
* {
  box-sizing:border-box;
  margin:0;
}
html, body {
  font-family: "Raleway", sans-serif;
  height:100%;
  font-size:16pt;
}
h1 {
  display:inline-block;
  color:#fff;
  font-weight:normal;
  font-size:32pt;
}
h2 {
  font-family:"Lato",sans-serif;
  font-size:24pt; 
  color:#7a7a7a;
  font-weight:normal;
}
.menu li {
  display:inline-block;
}
  .menu li a {
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    margin-right:2rem;
    -webkit-transition: color 0.1s linear;
       -moz-transition: color 0.1s linear;
        -ms-transition: color 0.1s linear;
         -o-transition: color 0.1s linear;
            transition: color 0.1s linear;
  }
    .menu li a:hover {
      color:#03acef;
    }
#rwd-menu {
  display:none;
  height:40px;
  width:40px;
  background-color:#03ACEF;
}
  #rwd-menu:hover {
    cursor:pointer;
  }


/* navigation */
#nav {
  background-color: #3a3a3a;
  width:100%;
  min-height:80px;
  z-index:1;
  position:fixed;
  top:0;
  border-bottom:4px solid #03acef;
}
  .left {
    position:relative;
    left:60px;
    top:20px;
    display:inline-block;
  }
    #logo {
      width:40px;
      height:40px;
    }
    .left h1 {
      position:relative;
      left:20px;
      top:-7px; 
      margin-bottom:25px;
    }
  #nav .menu { 
    position:absolute;
    right:0px;
    top:30%;
    right:0.5rem;
    -webkit-transition: all 0.1s ease;
       -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
         -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
  }
    #nav .menu#mobile {
      position:static;
      display:none;
      height:0px;
      overflow:hidden;
      -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
    }
      #mobile.open {
        height:80px !important;
      }
    #nav .menu#mobile li {
      display:block;
    }


/* 'over the fold' part */
#container {
  min-width:100%;
  position:relative;
  height:100%;
}
  #logo-area {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0; 
    height:400px;
    width:80%;
  }
    #big-logo {
      height:300px;
      width:320px;
      margin:0px auto;
      display:block;
    }
    #logo-area h2 {
      margin-top:0.5rem;
      text-align:center;
      font-family:"Raleway";
      color:#868789;
    }


/* bottom part */
#bottom {
  background-color:#7a7a7a;
  width:100%;
  position:absolute;
  top:87%;
  padding-top:30px;
  min-height:600px;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear; 
}
  #bottom h1 {
    color:#e4e4e4;
    text-align:center;
    display:block;
  }
  #bottom h2 {
    font-size:1rem;
    font-family:"Lato",sans-serif;
    margin:65px auto;
    color:#e4e4e4;
    width:80%;
    line-height:1.5rem;
    text-align:center;
  }
  #work {
    width:90%;
    margin:0px auto; 
  }
  .work-bit {
    background-color:#fff;
    height:240px;
    width:24%;
    display:inline-block;
    margin-left:0.5%;
    margin-top:5px;
    overflow:hidden;
  }
    .work-bit .banner {
      background-color:#e4e4e4;
      height:72px;
      position:relative;
      left:3rem;
      top:0.7rem;
      -webkit-transition: all 0.1s ease;
         -moz-transition: all 0.1s ease;
          -ms-transition: all 0.1s ease;
           -o-transition: all 0.1s ease;
              transition: all 0.1s ease;
    }
      .work-bit:hover .banner {
        left:1rem;
      }
      .banner .triangle {
        position:absolute;
        top:0;
        left:-20px;
        width: 0; 
        height: 0; 
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent; 
        border-right:20px solid #e4e4e4;
      }
    .work-bit h1 {
      text-transform:uppercase;
      color:#7a7a7a !important;
      font-family: "Bebas Neue", sans-serif;
      font-size:48pt;
      position:absolute;
      left:1rem;
    } 
  #bottom p {
    text-align:center;
    color:#E4E4E4;
    margin: 100px auto;
    font-size:20pt;
    font-family:"Podkova", serif;
  }
    #bottom p a {
      text-decoration:none;
      color:#E4E4E4;
    }

/* "like what you see?" part */
#like {
  background-color:#ececed;
  padding-top:100px;
  width:100%;
}
  #like h1 {
    color:#868789;
    font-family: "Bebas Neue", sans-serif;
    font-size:2rem;
  }
  #like p {
    color:#868789;
    width:50%;
    margin:0px auto;
    margin-top:35px;
    font-size:20pt;
    font-family: "Podkova", serif;
  }
  #circles {
    margin:0px auto;
    width:750px;
    margin-top:65px;
    padding-bottom:100px;
  }
    .circle {
      -webkit-border-radius:50%;
              border-radius:50%;
      background-color:#51C4F2;
      height:80px;
      margin-left:4rem;
      width:80px;
      display:inline-block;
      background-size: 90% 90%;
      background-position: 50% 50%;
      -webkit-transition: background-color 0.1s linear;
         -moz-transition: background-color 0.1s linear;
          -ms-transition: background-color 0.1s linear;
           -o-transition: background-color 0.1s linear;
              transition: background-color 0.1s linear;
    }
      #linked-in {
        background-image:url("../images/linkedin-128.png");
      }
        #linked-in:hover {
          background-color:#007FB1;
        }
      #twitter {
        background-image:url("../images/twitter-128.png");
      }
        #twitter:hover {
          background-color:#00ACED;
        }
      #wordpress {
        background-image:url("../images/wordpress-128.png");
      }
        #wordpress:hover {
          background-color:#21759B;
        }
      #skype {
        background-image:url("../images/skype-128.png");
      }
        #skype:hover {
          background-color:#00AFF0;
        }

/* footer */
#footer {
  background-color:#3A3A3A;
  min-height:250px;
  border-top:4px solid #03acef;
  height:100%;

}
  #footer .menu {
    width:750px;
    margin:0px auto;
    margin-top:65px;
    margin-bottom:65px;
  }
    #footer .menu li {
      margin-left:2rem;
      font-size:1rem;
      text-transform:uppercase;
    }
  #copy {
    font-family:"Lato", sans-serif;
    width:50%;
  }
    .desc {
      color:#959596;
      font-size:1rem;
    }
    .desc2 {
      text-transform:lowercase;
      color:#D6D6D6;
      font-size:1rem;
    }

/* responsiveness */
@media (min-width:0px) and (max-width:680px) {
  #nav .menu li {
    display:none;
  }
  #rwd-menu {
    display:inline-block;
  }
  #nav .menu#mobile {
    display:block;
  }
  #logo {
    display:none;
  }
  #big-logo {
    margin-top:-25px;
  }
  #subheader {
    font-size:20pt;
    margin-top:30px !important;
    margin-bottom:75px !important;
  }
}
@media (min-width:591px) and (max-width:850px) {
  .work-bit {
    width:49%;
  }
}
@media (min-width:0px) and (max-width:590px) {
  .work-bit {
    display:block;
    width:220px;
    margin:0px auto;
    margin-bottom:50px;
  }
    .work-bit .banner {
      left:1rem;
    }

}
