/*
 * gray: #3A3A3A
 * blue: #03ACEF
 * 
 * */

/* overall styles */
* {
  box-sizing:border-box;
  margin:0;
}
html, body {
  font-family: "Raleway", sans-serif;
  height:100%;
  font-size:16pt;
}
h1 {
  display:inline-block;
  color:#fff;
  font-weight:normal;
  position:relative;
  left:20px;
  font-size:32pt;
  top:-7px; 
}
h2 {
  font-family:"Lato",sans-serif;
  font-size:24pt; 
  color:#7a7a7a;
  font-weight:normal;
}


/* navigation */
#nav {
  background-color: #3a3a3a;
  width:100%;
  height:80px;
  z-index:1;
  position:fixed;
  top:0;
  border-bottom:4px solid #03acef;
}
  .left {
    position:relative;
    left:60px;
    top:20px;
    display:inline-block;
  }
    #logo {
      width:40px;
      height:40px;
    }
  #menu { 
    position:absolute;
    right:0px;
    top:30%;
    right:4rem;
  }
    #menu li {
      display:inline-block;
    }
      #menu li a {
        text-transform:uppercase;
        color:#fff;
        text-decoration:none;
        margin-right:2rem;
        -webkit-transition: color 0.1s linear;
           -moz-transition: color 0.1s linear;
            -ms-transition: color 0.1s linear;
             -o-transition: color 0.1s linear;
                transition: color 0.1s linear;
      }
        #menu li a:hover {
          color:#03acef;
        }


/* 'over the fold' part */
#container {
  min-width:100%;
  position:relative;
  height:100%;
}
  #logo-area {
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0; 
    height:400px;
    width:80%;
  }
    #big-logo {
      height:300px;
      width:320px;
      margin:0px auto;
      display:block;
    }
    #logo-area h2 {
      margin-top:0.5rem;
      text-align:center;
    }


/* bottom part */
#bottom {
  background-color:#7a7a7a;
  width:100%;
  position:absolute;
  bottom:-24rem;
  padding-top:30px;
  min-height:600px;

}
  #bottom h1 {
    color:#e4e4e4;
    text-align:center;
    display:block;
  }

